# Prerequisites
*.dSYM/
*.o
*.obj
*.out

# Ephemeral Build Sandbox Directory
/build/

# VS Code IDE Cache Local Configurations
/.vscode/ipch/
/.vscode/extensions/
.history/
.vscode/

# Local OS File System Storage Artifacts
.DS_Store
Thumbs.db